<Project>
  <PropertyGroup>
  <ContainerRepository>microservice-movies</ContainerRepository>
    <!-- Complete the necessary properties (ContainerRepository, ContainerImageTag, ContainerRegistry)-->
    <!-- Lookup the name of your azure container registry on the portal -->
  </PropertyGroup>
</Project>