name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  testing:
    name: Testing
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Setup .NET 8
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Run unit tests
      run: dotnet test tests/UnitTests/UnitTests.csproj --no-restore --verbosity normal
    

    
  coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET 8
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Install ReportGenerator
      run: dotnet tool install -g dotnet-reportgenerator-globaltool
      
    - name: Run tests with coverage
      run: dotnet test tests/UnitTests/UnitTests.csproj --no-restore --collect:"XPlat Code Coverage" --results-directory ./coverage
      
    - name: Generate coverage report
      id: coverage_report
      run: reportgenerator -reports:./coverage/**/coverage.cobertura.xml -targetdir:./coverage/report -reporttypes:Html
    
    - name: Make downloadable coverage report
      if: ${{ steps.coverage_report.outcome == 'success' }}
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: ./coverage/report
        if-no-files-found: error

    - name: Check coverage threshold
      run: |
          COVERAGE_RATE=$(grep -o 'line-rate="[0-9.]*"' ./coverage/**/coverage.cobertura.xml | head -1 | grep -o '[0-9.]*')
          COVERAGE=$(echo "$COVERAGE_RATE * 100" | bc)
          echo "Code coverage: $COVERAGE%"
          if (( $(echo "$COVERAGE < 95" | bc -l) )); then
            echo "Code coverage is below 95%."
            # exit 1
          fi
      shell: bash

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to Azure Container Registry
        run: echo ${{ secrets.HOWESTPRIME_WIDE_CI_SERVICE_PRINCIPAL_PASSWORD }} | docker login ${{ vars.AZ_CONTAINER_REGISTRY }} -u ${{ secrets.HOWESTPRIME_WIDE_CI_SERVICE_PRINCIPAL }} --password-stdin

      - name: Set up .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '8.x'

      - name: Build local container image
        run: dotnet publish src/Howestprime.Movies.Main/Howestprime.Movies.Main.csproj --configuration Release -t:PublishContainer -p:ContainerRepository=microservice-movies -p:ContainerImageTag=1.0.0

      - name: Tag and push image to ACR
        run: |
          docker tag microservice-movies:1.0.0 ${{ vars.AZ_CONTAINER_REGISTRY }}/microservice-movies:1.0.0
          docker push ${{ vars.AZ_CONTAINER_REGISTRY }}/microservice-movies:1.0.0

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: '{ "clientId": "${{ secrets.HOWESTPRIME_WIDE_CI_SERVICE_PRINCIPAL }}", "clientSecret": "${{ secrets.HOWESTPRIME_WIDE_CI_SERVICE_PRINCIPAL_PASSWORD }}", "subscriptionId": "${{ vars.AZ_SUBSCRIPTION_ID }}", "tenantId": "${{ vars.AZ_TENANT_ID }}" }'

      - name: Deploy to Azure Container Apps
        run: |
          az containerapp create \
          --name microservice-movies \
          --resource-group ${{ vars.AZ_RESOURCE_GROUP }} \
          --environment ${{ vars.AZ_CONTAINER_ENVIRONMENT }} \
          --image ${{ vars.AZ_CONTAINER_REGISTRY }}/microservice-movies:1.0.0 \
          --registry-server ${{ vars.AZ_CONTAINER_REGISTRY }} \
          --registry-username ${{ secrets.HOWESTPRIME_WIDE_CI_SERVICE_PRINCIPAL }} \
          --registry-password ${{ secrets.HOWESTPRIME_WIDE_CI_SERVICE_PRINCIPAL_PASSWORD }} \
          --user-assigned "${{ vars.HOWESTPRIME_WIDE_MI_KEYVAULTREADER_URI}}" \
          \
          --secrets \
          "db-password=keyvaultref:${{vars.HOWESTPRIME_MOVIES_P_SQLSRV_PASSWORD_URI}},identityref:${{vars.HOWESTPRIME_WIDE_MI_KEYVAULTREADER_URI}}" \
          "mb-password=keyvaultref:${{vars.HOWESTPRIME_WIDE_P_MESSAGEBROKER_PASSWORD_URI}},identityref:${{vars.HOWESTPRIME_WIDE_MI_KEYVAULTREADER_URI}}" \
          \
          --env-vars \
          ASPNETCORE_ENVIRONMENT=Production \
          "Database__Password=secretref:db-password" \
          "Database__Username=${{vars.HOWESTPRIME_MOVIES_P_PSQL_LOGIN}}" \
          "Database__ConnectionString=${{vars.HOWESTPRIME_MOVIES_P_PSQL_CONNECTION_STRING}}" \
          "MessageBroker__Hostname=${{vars.HOWESTPRIME_WIDE_P_MESSAGEBROKER_HOSTNAME}}" \
          "MessageBroker__VirtualHost=${{vars.HOWESTPRIME_WIDE_P_MESSAGEBROKER_VHOST}}" \
          "MessageBroker__Password=secretref:mb-password" \
          "MessageBroker__Username=${{vars.HOWESTPRIME_WIDE_P_MESSAGEBROKER_LOGIN}}" 

          az containerapp ingress enable \
          --name microservice-movies \
          --resource-group ${{ vars.AZ_RESOURCE_GROUP }} \
          --type external \
          --target-port 8000
