name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  testing:
    name: Testing
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Setup .NET 8
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Run unit tests
      run: dotnet test tests/UnitTests/UnitTests.csproj --no-restore --verbosity normal
    

    
  coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    
    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: name directory
      run:  pwd
    - name: List files for debug
      run: ls -R tests/UnitTests
    - name: List files for debug
      run: ls -R tests/UnitTests/UnitTests.csproj
    - name: Install ReportGenerator
      run: dotnet tool install -g dotnet-reportgenerator-globaltool
      
    - name: Run tests with coverage
      run: dotnet test tests/UnitTests/UnitTests.csproj --no-restore --collect:"XPlat Code Coverage" --results-directory ./coverage
      
    - name: Generate coverage report
      id: coverage_report
      run: reportgenerator -reports:./coverage/**/coverage.cobertura.xml -targetdir:./coverage/report -reporttypes:Html
    
    - name: Make downloadable coverage report
      if: ${{ steps.coverage_report.outcome == 'success' }}
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: ./coverage/report
        if-no-files-found: error

    - name: Check coverage threshold
      run: |
          COVERAGE_RATE=$(grep -o 'line-rate="[0-9.]*"' ./coverage/**/coverage.cobertura.xml | head -1 | grep -o '[0-9.]*')
          COVERAGE=$(echo "$COVERAGE_RATE * 100" | bc)
          echo "Code coverage: $COVERAGE%"
          if (( $(echo "$COVERAGE < 95" | bc -l) )); then
            echo "Code coverage is below 95%."
            exit 1
          fi
      shell: bash
